*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.topnav{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 1%;
    background-color: #231709;
    padding-bottom: .5%;
}

.leftnav{
    margin-left: 30%;
}

.rightnav{
    display: flex;
    flex-direction: row;
    margin-left: 50%;
}

.header{
    width: 100vw;
    height: 80vh;
    background:linear-gradient(rgba(0,0,0,.1),rgba(0,0,0,.6)), url('images/larm-rmah-AEaTUnvneik-unsplash.jpg');
    background-position: center;
    background-size: cover;
}

.donation-img{
    width: 200px;
    margin-bottom: -3%;
}

.text-on-img{
    text-align: center;
    padding-top: 8%;
}

.heading{
    margin-bottom: 18px;
}

.donate-btn{
    padding: .5%;
    background-color: rgb(255, 217, 0);
    font-size: 20px;
    border-radius: 7px;
    text-decoration: none;
    color: #231709;
    display: inline-block;
    transition: all .2s;
}

.donate-btn:hover{
    transform: scale(1.25);
    box-shadow: 0 0 20px #fff;
}

.help-section{
    margin-top: 4%;
    margin-bottom: 6%;
}

.help-heading{
    text-align: center;
}

.help-heading::after{
    display: block;
    content: " ";
    background-color: rgb(255, 217, 0);
    height: 2px;
    width: 40px;
    margin-left: 48.5%;
}

.types-flex{
    margin-top: 3%;
    display: flex;
    justify-content: space-around;
}

.type1{
    text-align: center;
}

.our-mission{
    background-color: #23170970;
    padding-bottom: 4%;
}

.food-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 5%;
}

.donate-food-img{
    /* width: 400px; */
    width: 70%;
    box-shadow: 0px 0px 20px #fff;
    border-radius: 15px;
    margin-left: 15%;
}

.food-grid-right{
    width: 80%;
}

.food-grid-donate-btn{
    margin-top: 5%;
}

.footer-nav{
    padding-top: 1%;
    background-color: #231709;
    padding-bottom: .5%;
}